*,
::before,
::after {
	padding: 0;
	margin: 0;
	transition: 1s;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(-45deg, transparent 10%, white, transparent 90%);
}
